<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-menu-button menu="sidebar" color="warning"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid>
    <div class="banner">
      <ion-title class="titulo">Acá podés crear tu menú</ion-title>
    </div>

    <ion-button color="warning" (click)="setOpen(true)" class="button-center">Crear Menu</ion-button>

    <ion-modal (keydown.enter)="setOpen(false); saveMenu()" [isOpen]="isModalOpen" [backdropDismiss]="false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Datos del Menú</ion-title>
            <ion-fab (click)="setOpen(false); clearItem()" slot="end" horizontal="end">
              <ion-fab-button color="medium" size="small">
                <ion-icon name="close-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-input labelPlacement="stacked" label="Sucursal"
                         [(ngModel)]="menu.branch"
                         (focusout)="validations.validateField(menu.branch, branchError)"
                         placeholder="Nombre de la sucursal"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="branchError.error">{{ branchError.error }}</div>

            <ion-item>
              <ion-input labelPlacement="stacked" label="Encabezado"
                         [(ngModel)]="menu.header"
                         (focusout)="validations.validateField(menu.header, headerError)"
                         placeholder="Ingresa el encabezado de tu menú"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="headerError.error">{{ headerError.error }}</div>

            <ion-item>
              <ion-input labelPlacement="stacked" label="Título"
                         [(ngModel)]="menu.title"
                         (focusout)="validations.validateField(menu.title, titleError)"
                         placeholder="Ingresa el título de tu menú"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="titleError.error">{{ titleError.error }}</div>

            <ion-item>
              <ion-input labelPlacement="stacked" label="Descripción"
                         [(ngModel)]="menu.description"
                         (focusout)="validations.validateField(menu.description, descriptionError)"
                         placeholder="Podés ingresar una descripción de tu Empresa"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="descriptionError.error">{{ descriptionError.error }}</div>

          </ion-list>
        </ion-content>
        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="saveMenu()" disabled="{{!validateErrors()}}">Crear</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>

    <ion-title class="ion-padding titulo">
      <ion-icon name="flash-outline" color="warning"></ion-icon>Mis menús
    </ion-title>

    <ion-grid class="menu-grid">
      <ion-row style="justify-content: center">
        <ion-col size="12" size-xl="2" size-lg="3" size-md="6" size-sm="12" class="local-col" *ngFor="let menu of listMenu">
          <ion-title class="center title-text">{{menu.branch}}</ion-title>
          <ion-title class="center title-text">{{menu.title}}</ion-title>
          <ion-text class="center title-text">{{menu.description}}</ion-text>
          <ion-row class="center">
            <ion-button class="center" color="warning" (click)="editMenu(menu.id)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-row class="center">
              <ion-button class="center" color="warning" (click)="deleteMenu(menu.id)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-row>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
