<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-menu-button menu="sidebar" color="warning"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid>
    <div class="banner">
      <ion-title class="titulo">Acá podés crear tu menú</ion-title>
    </div>
    <ion-row class="card-contenedor">
      <ion-col size="2">
        <ion-card  (click)="setOpen(true)" class="imagen-boton tarjeta">
          <ion-img src='/assets/menu.png'></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-modal (keydown.enter)="setOpen(false); saveMenu()" [isOpen]="isModalOpen" [backdropDismiss]="false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Datos del Menú</ion-title>
            <ion-fab (click)="setOpen(false); clearItem()" slot="end" horizontal="end">
              <ion-fab-button color="medium" size="small">
                <ion-icon name="close-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-input labelPlacement="stacked" label="Sucursal"
                         [(ngModel)]="menu.branch"
                         (focusout)="validations.validateField(menu.branch, branchError)"
                         placeholder="Nombre de la sucursal"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="branchError.error">{{ branchError.error }}</div>

            <ion-item>
              <ion-input labelPlacement="stacked" label="Encabezado"
                         [(ngModel)]="menu.header"
                         (focusout)="validations.validateField(menu.header, headerError)"
                         placeholder="Ingresa el encabezado de tu menú"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="headerError.error">{{ headerError.error }}</div>

            <ion-item>
              <ion-input labelPlacement="stacked" label="Título"
                         [(ngModel)]="menu.title"
                         (focusout)="validations.validateField(menu.title, titleError)"
                         placeholder="Ingresa el título de tu menú"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="titleError.error">{{ titleError.error }}</div>

            <ion-item>
              <ion-input labelPlacement="stacked" label="Descripción"
                         [(ngModel)]="menu.description"
                         (focusout)="validations.validateField(menu.description, descriptionError)"
                         placeholder="Podés ingresar una descripción de tu Empresa"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="descriptionError.error">{{ descriptionError.error }}</div>

            <ion-item>
              <ion-input labelPlacement="stacked" label="Pié de Página"
                         [(ngModel)]="menu.footer"
                         (focusout)="validations.validateField(menu.footer, footerError)"
                         placeholder="Ingresa el pié de página de tu menú"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="footerError.error">{{ footerError.error }}</div>

          </ion-list>
        </ion-content>
        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)" (click)="saveMenu()" disabled="{{!validateErrors()}}">Crear</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>

    <ion-title class="ion-padding titulo">
      <ion-icon name="flash-outline" color="warning"></ion-icon>Mis menús</ion-title>

    <ion-list class="card-contenedor">
      <ion-row class="card-contenedor ion-padding" *ngFor="let menu of listMenu">
        <ion-col size="4">
          <ion-card class="img-menu-mini">
            <ion-card-header class="card-menu-list">
              <ion-card-title>{{menu.branch}}</ion-card-title>
              <ion-card-title>{{menu.title}}</ion-card-title>
              <ion-text class="ion-padding">{{menu.description}}</ion-text>
            </ion-card-header>
            <ion-button fill="clear" color="warning" (click)="editMenu(menu.id)">Editar</ion-button>
            <ion-button fill="clear" color="danger"(click)="deleteMenu(menu.id)">Eliminar</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>

  </ion-grid>
</ion-content>
