<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="warning" menu="sidebar"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bloque-superior ion-padding">
    <ion-title class="titulo">Acá podés crear tu menú</ion-title>
  </div>
  <ion-grid>
    <ion-row class="card-contenedor">
      <ion-col size="2">
        <ion-card  (click)="setOpen(true)" class="imagen-boton tarjeta">
          <ion-img src='/assets/menu.png'></ion-img>
        </ion-card>
      </ion-col>
      <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Menú</ion-title>
              <ion-fab (click)="setOpen(false)" slot="end" horizontal="end">
                <ion-fab-button color="medium" size="small">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <p>Datos generales del Menú</p>
            <ion-list>
              <ion-item>
                <ion-input labelPlacement="stacked" label="Ingresa el encabezado de tu menú" [(ngModel)]="menu.header"
                           placeholder="Encabezado"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input labelPlacement="stacked" label="Ingresa el título de tu menú" [(ngModel)]="menu.title"
                           placeholder="Título"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input labelPlacement="stacked" label="Podés ingresar una descripción de tu Empresa"
                           [(ngModel)]="menu.description"
                           placeholder="Descripción"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input labelPlacement="stacked" label="Ingresa el pié de página de tu menú"
                           [(ngModel)]="menu.footer"
                           placeholder="Pié de Página"></ion-input>
              </ion-item>
            </ion-list>
          </ion-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)" (click)="saveMenu()" (click)="setOpen2(true)">Guardar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ng-template>
      </ion-modal>
      <ion-modal [isOpen]="isModalOpen2" [backdropDismiss]="false">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Categorías del Menú</ion-title>
              <ion-fab (click)="setOpen2(false)" slot="end" horizontal="end">
                <ion-fab-button color="medium" size="small">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <p>Categorías</p>
            <ion-list>
              <ion-item>
                <ion-input class="ion-text-wrap" label="Agrega las categorías: " [(ngModel)]="category.name"
                           placeholder="Categorías"></ion-input>
                <ion-fab-button size="small" color="warning">
                  <ion-icon (click)="addCategory()" color="medium" name="add"></ion-icon>
                </ion-fab-button>
              </ion-item>
            </ion-list>
            <ion-list *ngFor="let category of listCategory">
              <ion-col>
                {{category.name}}
              </ion-col>
            </ion-list>
          </ion-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen2(false); saveCategory()" (click)="setOpen3(true)">Confirmar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ng-template>
      </ion-modal>

      <ion-modal [isOpen]="isModalOpen3" [backdropDismiss]="false">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Ítems del Menú</ion-title>
              <ion-fab (click)="setOpen3(false)" slot="end" horizontal="end">
                <ion-fab-button color="medium" size="small">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <p>Ítems</p>
            <ion-item>
              <ion-input class="ion-text-wrap" label="Agrega el nombre del ítem: " [(ngModel)]="itemMenu.name"
                         placeholder="Nombre del ítem"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-wrap" label="Agrega la descripción: " [(ngModel)]="itemMenu.description"
                         placeholder="Descripción"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-wrap" label="Agrega el precio: " [(ngModel)]="itemMenu.price"
                         placeholder="Precio"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-wrap" label="Cantidad de productos disponible: " [(ngModel)]="itemMenu.quantity"
                         placeholder="Cantidad"></ion-input>
            </ion-item>
            <ion-fab-button size="small" color="warning">
              <ion-icon (click)="addItem()" color="medium" name="add"></ion-icon>
            </ion-fab-button>
            <ion-row *ngFor="let itemMenu of listItem">
              <ion-col>
                {{itemMenu.name}}
              </ion-col>
              <ion-col>
                {{itemMenu.description}}
              </ion-col>
            </ion-row>
          </ion-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen3(false); saveItems()">Guardar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ng-template>
      </ion-modal>
    </ion-row>
  </ion-grid>
</ion-content>
