<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-menu-button color="warning" menu="sidebar"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" color="dark">
    <ion-grid fixed="true">

      <ion-title>Perfil</ion-title>


      <ion-row (keydown.enter)="saveData()" class="form">
        <ion-col size="8">
          <ion-list>
            <ion-item>
              <ion-input name="name"
                         type="text"
                         placeholder="Nombre"
                         [(ngModel)]="profileData.name"
                         (focusout)="validateName()"
                         required="true"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="nameError">{{ nameError }}</div>
            <ion-item>
              <ion-input name="cuit"
                         type="number"
                         placeholder="Cuit"
                         [(ngModel)]="profileData.cuit"
                         (focusout)="validateCuit()"
                         required="true"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="cuitError">{{ cuitError }}</div>
            <ion-item>
              <ion-input name="address"
                         type="text"
                         placeholder="Dirección"
                         [(ngModel)]="profileData.address"
                         (focusout)="validateAddress()"
                         required="true"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="addressError">{{ addressError }}</div>
            <ion-item>
              <ion-input name="phonenumber"
                         type="number"
                         placeholder="Teléfono"
                         [(ngModel)]="profileData.phoneNumber"
                         (focusout)="validatePhoneNumber()"
                         required="true"></ion-input>
            </ion-item>
            <div class="error-text" *ngIf="phoneNumberError">{{ phoneNumberError }}</div>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="buttons">
        <ion-col>
          <ion-button (click)="saveData()"
                      color="warning"
                      shape="round"
                      disabled="{{!validateErrors()}}">
            Guardar
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
</ion-content>
