<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-menu-button color="warning" menu="sidebar"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" color="dark">
  <ion-card-content class="banner">
    <ion-card-subtitle class="subtitle">{{menuResponse.header}}</ion-card-subtitle>
    <ion-card-title class="title">{{menuResponse.title}}</ion-card-title>
    <ion-text class="text">{{menuResponse.description}}</ion-text>
  </ion-card-content>
  <ion-row class="card-contenedor">
    <ion-col size="1.4">
      <ion-title>Crear Categorias</ion-title>
      <ion-card (click)="setOpenCategory(true)" class="imagen-boton tarjeta">
        <ion-img src='/assets/categoriasBoton.png'></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-modal (keydown.enter)="setOpenCategory(false); saveCategory(); clearListCategory()" [isOpen]="isModalOpen"
             [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Categorías del Menú</ion-title>
          <ion-fab (click)="setOpenCategory(false); clearListCategory()" slot="end" horizontal="end">
            <ion-fab-button color="medium" size="small">
              <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list class="ion-color-dark">
          <ion-item>
            <ion-input class="ion-text-wrap" label="Nombre: " [(ngModel)]="category.name"
                       (focusout)="validations.validateField(category.name, categoryNameError)"
                       (ionInput)="clearErrors()"
                       placeholder="Nombre de la Categoría"></ion-input>
            <ion-fab-button size="small" color="warning" (click)="validations.validateField(category.name, categoryNameError); addCategory()" disabled="{{!validateCategoryErrors()}}">
              <ion-icon color="medium" name="add"></ion-icon>
            </ion-fab-button>
          </ion-item>
          <ion-row>
            <div class="error-text" *ngIf="categoryNameError.error">{{ categoryNameError.error }}</div>
          </ion-row>
        </ion-list>
        <ion-list *ngFor="let category of listCategory">
          <ion-col>
            {{category.name}}
          </ion-col>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenCategory(false); saveCategory(); clearListCategory()">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>


  <ion-list class="contenedor">
    <ion-item-group>

      <ion-grid [fixed]="true">


        <ion-row class="row-category" *ngFor="let category of menuResponse.listCategory">
          <ion-col size="12">

            <ion-item-divider color="dark">
              <ion-title class="title-category"> {{category.name}}</ion-title>

              <ion-text>posición: {{category.position}}</ion-text>

              <ion-button slot="end" color="warning" (click)="setUpdateOpenCategory(true, category)">

                Editar
                <ion-icon name="restaurant-outline"></ion-icon>
              </ion-button>

              <ion-button slot="end" color="warning" (click)="deleteCategory(category.id)">
                Eliminar
                <ion-icon name="restaurant-outline"></ion-icon>
              </ion-button>

            </ion-item-divider>
          </ion-col>
          <ion-row *ngFor="let item of category.menuItems" class="container">


            <ion-col size="4">
              <img class="ion-card" src="/assets/comida.jpg"/>
            </ion-col>
            <ion-col size="4" class="left-item-column">


              <ion-row>
                <ion-card-title>{{item.name}}</ion-card-title>
              </ion-row>
              <ion-row>
                <ion-card-subtitle>{{item.description}}</ion-card-subtitle>
              </ion-row>
              <ion-row>
                <ion-card-subtitle>$ {{item.price}}</ion-card-subtitle>
              </ion-row>

            </ion-col>
            <ion-col class="right-item-column">

              <ion-row>
                <ion-card-subtitle>Cantidad: {{item.quantity}}</ion-card-subtitle>
              </ion-row>
              <ion-row>
                <ion-text>{{item.active ? 'Habilitado' : 'Deshabilitado'}}</ion-text>
              </ion-row>
              <ion-row>
                <ion-text>posición: {{item.position}}</ion-text>
              </ion-row>

              <ion-row>
                <ion-button fill="clear" color="warning" (click)="setUpdateOpenItem(true, item);">Editar</ion-button>
                <ion-button fill="clear" color="danger" (click)="deleteItem(item.id)">Eliminar</ion-button>
              </ion-row>


            </ion-col>

          </ion-row>
          <ion-col class="button-center" size="12">

            <ion-button color="warning" (click)="setOpenItem(true, category.id)">

              Agregar Producto
              <ion-icon slot="start" name="restaurant-outline"></ion-icon>
            </ion-button>

          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-item-group>
  </ion-list>


  <ion-modal (keydown.enter)="setOpenItem(false, undefined); saveItems(); clearItem()" [isOpen]="isModalOpen2"
             [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Ítems del Menú</ion-title>
          <ion-fab (click)="setOpenItem(false,undefined); clearItem(); clearErrors() " slot="end" horizontal="end">
            <ion-fab-button color="medium" size="small">
              <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input class="ion-text-wrap" label="Nombre: " [(ngModel)]="itemMenu.name"
                     (focusout)="validations.validateField(itemMenu.name, itemNameError)"
                     placeholder="Nombre del ítem"></ion-input>
        </ion-item>
        <ion-row>
          <div class="error-text" *ngIf="itemNameError.error">{{ itemNameError.error }}</div>
        </ion-row>
        <ion-item>
          <ion-input class="ion-text-wrap" label="Descripción: " [(ngModel)]="itemMenu.description"
                     (focusout)="validations.validateField(itemMenu.description, itemDescriptionError)"
                     placeholder="Descripción"></ion-input>
        </ion-item>
        <ion-row>
          <div class="error-text" *ngIf="itemDescriptionError.error">{{ itemDescriptionError.error }}</div>
        </ion-row>
        <ion-item>
          <ion-input class="ion-text-wrap" label="Precio: " [(ngModel)]="itemMenu.price"
                     type="number"
                     placeholder="Precio"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="ion-text-wrap" label="Cantidad: " [(ngModel)]="itemMenu.quantity"
                     type="number"
                     placeholder="Cantidad"></ion-input>
        </ion-item>

      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenItem(false, undefined); saveItems(); clearItem();" disabled="{{!validateErrors()}}">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>


  <ion-modal (keydown.enter)="editItem(itemMenuUpdate); setUpdateOpenItem(false, undefined)"
             [isOpen]="isItemUpdateModalOpen" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Ítem</ion-title>
          <ion-fab (click)="setUpdateOpenItem(false,undefined); clearErrors()" slot="end" horizontal="end">
            <ion-fab-button color="medium" size="small">
              <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-input class="ion-text-wrap" label="Nombre: " [(ngModel)]="itemMenuUpdate.name"
                         (focusout)="validations.validateField(itemMenuUpdate.name, itemUpdateNameError)"
                         placeholder="Nombre"></ion-input>
            </ion-row>
            <ion-row>
              <div class="error-text" *ngIf="itemUpdateNameError.error">{{ itemUpdateNameError.error }}</div>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-input class="ion-text-wrap" label="Descripción: " [(ngModel)]="itemMenuUpdate.description"
                         (focusout)="validations.validateField(itemMenuUpdate.description, itemUpdateDescriptionError)"
                         placeholder="Descripción"></ion-input>
            </ion-row>
            <ion-row>
              <div class="error-text"
                   *ngIf="itemUpdateDescriptionError.error">{{ itemUpdateDescriptionError.error }}</div>
            </ion-row>
          </ion-grid>
        </ion-item>


        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-input class="ion-text-wrap" type="number" label="Precio: " [(ngModel)]="itemMenuUpdate.price"
                         placeholder="Precio"></ion-input>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-input class="ion-text-wrap" type="number" label="Cantidad: " [(ngModel)]="itemMenuUpdate.quantity"
                         placeholder="Cantidad"></ion-input>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-row>
                <ion-toggle [(ngModel)]="itemMenuUpdate.active" [checked]="itemMenuUpdate.active">Habilitado
                </ion-toggle>
              </ion-row>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-select aria-label="Position" interface="popover" label="Posición:"
                            placeholder="{{itemMenuUpdate.position ? itemMenuUpdate.position : 'Seleccionar posición'}}"
                            [(ngModel)]="itemMenuUpdate.position">
                  <ion-select-option value="{{i+1}}"
                                     *ngFor="let item of getCategoryItems(itemMenuUpdate.categoryMenuId); index as i">{{i + 1}}</ion-select-option>
                </ion-select>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button disabled="{{!validateUpdateErrors()}}"
                        (click)="editItem(itemMenuUpdate); setUpdateOpenItem(false, undefined); ">Guardar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal (keydown.enter)="editCategory(categoryMenuUpdate); setUpdateOpenCategory(false, undefined);"
             [isOpen]="isCategoryUpdateModalOpen" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Categoría</ion-title>
          <ion-fab (click)="setUpdateOpenCategory(false,undefined); clearErrors()" slot="end" horizontal="end">
            <ion-fab-button color="medium" size="small">
              <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-input class="ion-text-wrap" label="Nombre: " [(ngModel)]="categoryMenuUpdate.name"
                         (focusout)="validations.validateField(categoryMenuUpdate.name, categoryUpdateNameError)"
                         placeholder="Nombre de categoría"></ion-input>
            </ion-row>
            <ion-row>
              <div class="error-text" *ngIf="categoryUpdateNameError.error">{{ categoryUpdateNameError.error }}</div>
            </ion-row>


            <ion-select aria-label="Position" label="Posición" interface="popover"
                        placeholder="{{categoryMenuUpdate.position ? categoryMenuUpdate.position : 'Seleccionar posición'}}"
                        [(ngModel)]="categoryMenuUpdate.position">
              <ion-select-option value="{{i+1}}"
                                 *ngFor="let cat of menuResponse.listCategory; index as i">{{i + 1}}</ion-select-option>
            </ion-select>


          </ion-grid>
        </ion-item>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="editCategory(categoryMenuUpdate); setUpdateOpenCategory(false, undefined);"
                        disabled="{{!validateUpdateCategoryErrors()}}">Guardar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>{{menuResponse.footer}}</ion-title>
  </ion-toolbar>
</ion-footer>



