.banner {
  background-image: url("/assets/menuData.png");
  background-size: inherit;
  background-position: center;
  padding: 50px;
  text-align: center;
}
.title {
  -webkit-text-fill-color: rgba(255, 206, 1, 0.8); /* Color de fondo del texto con transparencia */
  padding: 20px;
  text-align: center;
  font-size: 24px;
}
.subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  -webkit-text-fill-color: #dbdbdb;
}
.text {
  font-size: 16px;
  -webkit-text-fill-color: #dbdbdb;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
}
.imgs {
  background-size: inherit;
  background-position: center;
  padding: 50px;
  text-align: center;
}
.imagen-boton {
  cursor: pointer; /* Cambia el cursor a una mano cuando se coloca sobre la tarjeta */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Alineación del contenido al centro */
  padding: 0; /* Elimina el relleno para que la imagen ocupe todo el espacio */


}

.tarjeta {
    /* Card styles */
    transition: box-shadow 0.2s; /* Add a transition for smooth effect */

    &:hover {
      box-shadow: 0px 4px 8px rgba(255, 206, 1, 1); /* Add a shadow effect on hover */
    }
  }

.card-horizontal {
  display: flex;
  width: 1800px;
  height: 400px;

  /* Establece la orientación horizontal // Alinea los elementos verticalmente en el centro, si es necesario /
    / Puedes agregar otros estilos según tus preferencias, como width, padding, etc. */
}
.ion-card img {
  width: 100%;
  height: auto; /* Esto mantiene la proporción de la imagen */
}
