//.mainSlide, .mainSlide ion-slide {
//  width: 100%;
//  height: 100%;
//}

.logo-img{
  height: 30% !important;
}

.buttons {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  --ion-background-color: #1e1e1e !important ;
}

.input-color{
  color: white;
}


ion-modal#create-user-modal {
  --width: fit-content;
  --min-width: 350px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --ion-background-color: #1e1e1e !important ;
}

ion-modal#create-user-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#create-user-modal .wrapper {
  margin-bottom: 10px;
}

.color-texto {
  color:  #ffc409;
}

ion-input{
  --placeholder-color: #ffc409;
  --placeholder-opacity: 1;
}
