.button-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrcodeImage {
  display: flex;
  flex: 1;
}
