<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-menu-button menu="sidebar" color="warning"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-list>
    <ion-item>
      <ion-select aria-label="Position" interface="popover" placeholder="Seleccionar sucursal"
                  [(ngModel)]="selectedMenu" (ionChange)="getAllQrByBranch()">
        <ion-select-option value="{{menu.id}}" *ngFor="let menu of listMenu"> {{menu.branch}} </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button (click)="setOpenQrModal(true); clearInputs()" [disabled]="!selectedMenu" class="button-center">Crear QR
  </ion-button>

  <ion-grid class="qr-grid">
    <ion-row *ngFor="let qr of listAllQr; let i = index">
        <ion-col>
          <ion-title class="center">{{qr.tableName}}</ion-title>
          <qrcode (qrCodeURL)="onChangeURL($event, i)" [qrdata]="selectedMenu + ',' + qr.id" [width]="170" [errorCorrectionLevel]="'M'"></qrcode>
          <ion-row class="center">
            <ion-button class="center" color="warning" (click)="deleteQr(qr.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            <ion-row class="center">
              <a [href]="listQrUrl[i]" download="{{qr.tableName}}">
                <ion-button class="center" color="warning">
                  <ion-icon name="download-outline"></ion-icon>
                </ion-button>
              </a>
            </ion-row>
          </ion-row>
        </ion-col>
    </ion-row>
  </ion-grid>



  <ion-modal (keydown.enter)="setOpenQrModal(false); saveQr()" [isOpen]="isModalOpen" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>QR</ion-title>
          <ion-fab (click)="setOpenQrModal(false)" slot="end" horizontal="end">
            <ion-fab-button color="medium" size="small">
              <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list class="ion-color-dark">
          <ion-item>
            <ion-input class="ion-text-wrap" label="Mesa: " [(ngModel)]="qrRequest.tableName"
                       placeholder="Nombre"></ion-input>
            <ion-fab-button size="small" color="warning" (click)="addMenuQr()">
              <ion-icon color="medium" name="add"></ion-icon>
            </ion-fab-button>
          </ion-item>
        </ion-list>
        <ion-list *ngFor="let qrTable of listMenuQrModalRequest">
          <ion-col>
            {{qrTable.tableName}}
          </ion-col>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenQrModal(false); saveQr()">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>


</ion-content>
