<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-menu-button menu="sidebar" color="warning"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" color="dark">

  <ion-grid class="ion-padding">
    <ion-row class="ion-padding">
      <ion-title class="ion-padding">Bienvenido {{profileData.name}}</ion-title>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="3" class="ion-padding">
        <ion-button (click)="navigateTo('/profile')" expand="full" class="button-card-style">Perfil</ion-button>
      </ion-col>
      <ion-col size="3" class="ion-padding">
        <ion-button (click)="navigateTo('/menu')" expand="full" class="button-card-style">Menu</ion-button>
      </ion-col>
      <ion-col size="3" class="ion-padding">
        <ion-button (click)="navigateTo('/tables')" expand="full" class="button-card-style">Mesas</ion-button>
      </ion-col>
      <ion-col size="3" class="ion-padding">
        <ion-button (click)="navigateTo('/orders')" expand="full" class="button-card-style">Ordenes</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
